body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  #registration-form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  #registrationPage {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  #registrationPage td {
    padding: 10px;
  }
  
  label {
    font-size: large;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #555;
  }
  
  input[type="radio"] {
    margin-right: 5px;
    margin-left: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  a{
    font-size: large;
    font-weight: bold;
  }